<!DOCTYPE html>
<html lang="en">
<head>
    <title>Timba - Administração de Filhos e Amigos da Guiné-Bissau na Bélgica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
<div class="container">
     <div class="row">
         <h2>Associado</h2>
     </div>
    </div>
    <script src="../static/js/jquery-3.4.1.js"></script>
    <script src="../static/js/my_javascript.js"></script>
</body>
</html>